# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore .dirs
.*

# Ignore all personal files
*suchomel*.*

# Ignore scss mapping
*.map

#Ignore out directories for jj1
jj1/out/