# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore .dirs
.*

# Ignore all personally named files
*suchomel*.*

# Ignore scss mapping
*.map

# Ignore (Java) build directories
out/

# Ignore .iml files
*.iml

# Ignore specific xml data files
jj2/02/xml/Messages.xml
jj2/02/xml/UserData.xml

# Ignore all .o object files
*.o

# Unignore Makefile files
!*Makefile
