# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore .dirs
.*

# Ignore all personal files
*suchomel*.*

# Ignore scss mapping
*.map

# Ignore (Java) build directories
out/

# Ignore .iml files
*.iml